@import "../../../../theme/theme.scss";

.hero-content {
	@include themify($themes) {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;
		flex-direction: column;
		max-width: 500px;
		//transition: 0.5s;

		h1 {
			color: rgb(171, 171, 171);
		}

		p {
			color: white;
		}

		h5 {
			color: $main;
		}

		button {
			border: 0;
			background-color: $secondary;
			padding: 10px 20px;
			cursor: pointer;

			h5 {
				color: white;
			}
		}
	}
}
