@import "./../../../../theme/theme.scss";

.users-overview {
	@include themify($themes) {
		width: 100%;
		display: flex;
		padding: 5px 7px 0 7px;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 850px) {
			flex-direction: column;
			gap: 15px;
			padding: 10px;
		}

		.totals {
			display: flex;
			gap: 15px;
			align-items: center;
			justify-content: flex-start;

			@media (max-width: 850px) {
				width: 100%;
			}

			.totals-data {
				h3 {
					font-size: 20px;
				}
			}
		}

		.users-buttons {
			display: flex;
			gap: 7px;
			flex-direction: row;

			@media (max-width: 850px) {
				width: 100%;
				justify-content: space-between;
			}

			.user-icons {
				font-size: 17px;
			}

			.user-h6 {
				font-size: 11px;
				text-transform: lowercase;
			}

			.user-p {
				color: white;
				font-size: 12px;
				text-transform: lowercase;
			}
		}
	}
}
