@import "../../../theme/theme.scss";

.fav-properties {
	@include themify($themes) {
		padding: 20px;
		margin-top: 40px;
		display: flex;
		align-items: center;
		justify-content: center;

		.fav-card {
			max-width: 1200px;
			margin: 20px;
			height: auto;
			width: 100%;
			display: grid;
			grid-auto-rows: minmax(250px, auto);
			grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
			gap: 20px 20px;
			justify-content: flex-start;
			align-content: flex-start;

			@media (max-width: 450px) {
				grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
			}

			&.fav-card2 {
				justify-content: center;
			}
		}
	}
}
