@import "../../../theme/theme.scss";

.hero {
	@include themify($themes) {
		width: 100%;
		height: 100vh;
		overflow: hidden;
		display: flex;
		position: relative;

		.bg-backdrop {
			position: absolute;
			inset: 0;
			background-color: rgba(0, 0, 0, 0.685);
			z-index: 3;
		}

		.hero-left {
			height: 100%;
			flex: 2;
			z-index: 10;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
		}

		.hero-right {
			height: 100%;
			width: 55vw;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 6;

			@media (max-width: 800px) {
				display: none;
			}
		}

		.background {
			position: absolute;
			inset: 0;
		}
	}
}
