@import "./../../../../../theme/theme.scss";

.user-delete {
	@include themify($themes) {
		height: auto;
		width: 550px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-around;
		white-space: normal;

		@media (max-width: 700px) {
			width: 70vw;
		}

		@media (max-width: 500px) {
			width: 85vw;
		}

		.delete-container {
			margin-top: 16px;
			width: 100%;
			height: auto;

			.warning-title {
				text-align: start;
			}
		}

		.delete-button-container {
			width: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			gap: 10px;

			button {
				margin-top: 20px;
				width: 90px;
				height: 33px;
				background-color: $main;
				border: 0;
				border-radius: 5px;
				cursor: pointer;
				transition: all 0.4s;

				&:hover {
					background-color: $mainLight;
				}

				p {
					color: white;
				}

				&.decline-button {
					background-color: rgba(209, 24, 24, 0.879);

					&:hover {
						background-color: rgba(204, 29, 29, 0.679);
					}
				}
			}
		}
	}
}
