@import "./../../../theme/theme.scss";

.tag-5 {
	@include themify($themes) {
		margin-top: 20px;
		width: 100%;
		padding: 20px 10px 40px 10px;
		background-color: themed("softBackground");

		.tag-5-info {
			width: 100%;
			margin-bottom: 30px;
			padding-right: 100px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 15vw;

			@media (max-width: 700px) {
				flex-direction: column;
				gap: 10px;
				padding-right: 0;
			}

			.t5-right {
				display: flex;
				align-items: center;
				gap: 40px;
				justify-content: center;

				@media (max-width: 700px) {
					gap: 10px;
					flex-wrap: wrap;
				}

				.count-cont {
					display: flex;
					flex-direction: column;
					max-width: 100px;
					align-items: center;
					justify-content: center;

					p {
						font-size: 13px;
					}
				}
			}
		}

		.tag-5-images {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 50px;
			flex-wrap: wrap;

			.tag-5-card-container {
				flex: 1;
				min-width: 250px;
				max-width: 340px;
				height: 400px;
				position: relative;

				.backdrop-container {
					position: absolute;
					inset: 0;
					z-index: 5;
					background-color: rgba(0, 0, 0, 0.552);
					display: flex;
					align-items: flex-end;
					justify-content: flex-end;
					padding: 40px 20px;

					.backdrop-details {
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						justify-content: flex-end;
						gap: 10px;

						h3,
						h5 {
							color: white;
						}

						button {
							display: flex;
							gap: 10px;
							align-items: center;
							background-color: transparent;
							border: 0;
							cursor: pointer;

							p {
								color: $secondary;
								font-size: 15px;
							}

							.tag-5-icon {
								color: $secondary;
								font-size: 20px;
							}
						}
					}
				}

				.tag-5-property-image {
					object-fit: cover;
				}
			}
		}
	}
}
