@import "../../../theme/theme.scss";

.pproperties {
	@include themify($themes) {
		display: flex;
		justify-content: center;
		margin-top: 40px;

		.properties-container {
			width: clamp(20px, 80vw, 1200px);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 50px;

			@media (max-width: 1000px) {
				width: clamp(20px, 90vw, 600px);
			}

			.properties-filter-container {
				width: 100%;
			}

			.card-container {
				width: 100%;
				height: 340px;
				background-color: themed("glass");

				@media (max-width: 1000px) {
					height: auto;
				}

				.p-cont {
					width: 100%;
					height: 100%;
					display: flex;
					gap: 5px;

					@media (max-width: 1000px) {
						flex-direction: column;
					}

					.p-left {
						width: clamp(10px, 90vw, 500px);
						height: 100%;

						@media (max-width: 1000px) {
							width: 100%;
							aspect-ratio: 1.3/1;
						}

						.p-image-cont {
							width: 100%;
							height: 100%;
							position: relative;
							cursor: pointer;

							.property-image {
								object-fit: cover;
							}
						}
					}

					.p-middle {
						flex: 5;
						padding: 10px;
						height: 100%;

						@media (max-width: 1000px) {
							flex: none;
							height: auto;
						}

						.p-info {
							height: 100%;
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							gap: 10px;

							h3 {
								cursor: pointer;
								&:hover {
									text-decoration: underline;
								}
							}

							h6 {
								display: flex;
								align-items: center;
								gap: 2px;

								span {
									cursor: pointer;
									&:hover {
										text-decoration: underline;
									}
								}
							}

							.p-actions {
								display: flex;
								align-items: center;
								gap: 20px;

								.save-icon {
									font-size: 20px;
									color: themed("icon");
									cursor: pointer;

									&.save-filled {
										color: rgba(255, 0, 0, 0.638);
									}
								}
							}
						}
					}

					.p-right {
						flex: 2;

						height: 100%;
						display: flex;
						align-items: flex-end;
						justify-content: flex-end;

						@media (max-width: 1000px) {
							flex: none;
							height: auto;
						}

						.p-price {
							h3 {
								span {
									font-size: 17px;
								}
							}
						}
					}
				}
			}
		}
	}
}
