@import "./../../../../../theme/theme.scss";

.general-links {
	@include themify($themes) {
		background-color: transparent;
		border: none;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 10px;
		border-radius: 6px;
		padding: 5px;
		cursor: pointer;
		transition: all 0.2s;

		&:active {
			background-color: themed("border");
		}

		&:hover {
			background-color: themed("info");
		}

		.side-bar-icon {
			transition: all 0.3s;

			.nav-icons {
				font-size: 18px;
				color: white;
				transition: all 0.3s;
			}

			.link-color {
				.nav-icons {
					color: white;
				}
			}

			&.side-bar-icon-collapse {
				padding: 3px 5px 1px 5px;

				.nav-icons {
					font-size: 21px;

					&.link {
						color: white;
					}
				}

				.link-color {
					.nav-icons {
						color: white;
					}
				}
			}
		}

		.h5text {
			transition: all 0.3s;
			font-size: 15px;
			color: white;
		}

		.arrrow-up {
			font-size: 13px;
			color: white;
			transition: all 0.3s;
		}
	}
}
