@import "./../../../../theme/theme.scss";

.add-photo {
	@include themify($themes) {
		width: clamp(100px, 90vw, 300px);
		height: auto;
		display: flex;
		flex-direction: column;
		gap: 15px;

		.upload-dz {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.all-pi {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			align-items: center;
			justify-content: center;

			.property-add-cont {
				width: 100px;
				height: 100px;
				position: relative;
				border-radius: 5px;
				overflow: hidden;

				.ad-p-image {
					object-fit: cover;
				}
			}
		}

		form {
			width: 100%;

			button {
				width: 100%;
				padding: 10px;
				border: 0;
				background-color: $secondary;
				border-radius: 6px;
				cursor: pointer;

				&:disabled {
					cursor: not-allowed;
					background-color: $secondaryDisabled;
				}

				p {
					color: white;
				}
			}
		}
	}
}
