@import "./../../../theme/theme.scss";

.page-hero {
	@include themify($themes) {
		width: 100%;
		height: 25vh;
		position: relative;

		.page-hero-info {
			position: absolute;
			inset: 0;
			z-index: 5;
			background-color: rgba(0, 0, 0, 0.612);
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 20px;

			.page-hero-container {
				border-left: 3px solid $secondary;

				h3 {
					color: rgb(230, 230, 230);
					margin-left: 10px;
				}
			}
		}

		.page-hero-image {
			object-fit: cover;
		}
	}
}
