@import "./../../../../theme/theme.scss";

.double-split {
	@include themify($themes) {
		.double-split-image-container {
			position: relative;
			width: 90%;
			height: 90%;
			overflow: hidden;

			.double-split-image {
				object-fit: cover;
			}

			@media (max-width: 900px) {
				height: clamp(250px, 50vw, 400px);
				width: 100%;
			}
		}

		.double-split-text-container {
			max-width: 500px;
			display: flex;
			flex-direction: column;
			gap: 15px;

			button {
				border: 1px solid $secondary;
				background-color: transparent;
				padding: 7px 10px;
				cursor: pointer;

				p {
					color: $secondary;
				}
			}

			ol {
				list-style: circle;

				li {
					margin-left: 20px;
				}
			}
		}
	}
}
