@import "../../../../theme/theme.scss";

.properties-filter {
	@include themify($themes) {
		width: 100%;
		padding: 5px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;

		@media (max-width: 1000px) {
			flex-direction: column;

			.search-filter {
				width: 100%;
			}
		}

		.category-filter {
			display: flex;
			align-items: center;
			gap: 10px;

			@media (max-width: 1000px) {
				justify-content: space-between;
				width: 100%;
			}

			@media (max-width: 450px) {
				flex-direction: column;
			}

			.f-c {
				max-width: 200px;
				min-width: 100px;
				display: flex;
				flex-direction: column;
				gap: 2px;
				flex-wrap: wrap;

				@media (max-width: 450px) {
					max-width: none;
					width: 100%;
				}

				p {
					font-size: 16px;
				}
			}
		}
	}
}
