@import "./../../../../theme/theme.scss";

.dp-card {
	@include themify($themes) {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
		height: 100%;

		.dp-card-container {
			width: 100%;

			height: 90%;

			position: relative;
			border-radius: 10px;
			overflow: hidden;
			cursor: pointer;

			.dp-card-image {
				object-fit: cover;
			}
		}

		.dp-title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 5px;

			h6 {
				cursor: pointer;
				font-size: 15px;

				&:hover {
					text-decoration: underline;
				}
			}

			button {
				border: 0;
				background-color: transparent;
				cursor: pointer;

				.delete-trashs {
					color: themed("icon");
					font-size: 17px;
				}
			}
		}
	}
}
