@import "../../../../../theme/theme.scss";

.mobile-side-bar-container {
	@include themify($themes) {
		position: fixed;
		top: 0;
		left: -110vw;
		right: 110vw;
		bottom: 0;
		z-index: 600;
		background-color: themed("background");
		transition: all 0.3s;
		overflow-y: scroll;

		@media (min-width: 700px) {
			display: none;
		}

		&.mobile-side-bar-open {
			left: 0;
			right: 20%;
		}
	}
}
