@import "./../../../theme/theme.scss";

/* .modal {
	@include themify($themes) {
		border: 0;
		background-color: themed("background");
		border-radius: 7px;
		padding: 20px;
		text-align: center;
		opacity: 0;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) !important;
		overflow: hidden;
		transform: translateY(30%);
		animation: fadeIn 0.3s ease-in-out forwards;

		@keyframes fadeIn {
			from {
				transform: translateY(30%);
				opacity: 0;
			}
			to {
				transform: translateY(0);
				opacity: 1;
			}
		}

		@media (max-width: 600px) {
			padding: 8px;
			padding-top: 15px;
		}

		&::backdrop {
			//backdrop-filter: blur(2px) saturate(149%);
			//-webkit-backdrop-filter: blur(2px) saturate(149%);
			//background-color: rgba(89, 89, 89, 0.109);
			background-color: rgba(0, 0, 0, 0.181);
		}

		.close-button {
			position: absolute;
			top: 2px;
			right: 4px;
			cursor: pointer;

			@media (max-width: 600px) {
				top: -1px;
				right: -1px;
			}
		}
	}
} */

.modal-wrapper {
	@include themify($themes) {
		.modal-backdrop {
			position: fixed;
			inset: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow-x: hidden;
			overflow-y: auto;
			outline: none;
			z-index: 900;
			background-color: themed("backdrop");

			backdrop-filter: blur(5px) saturate(149%);
			-webkit-backdrop-filter: blur(5px) saturate(149%);
		}

		.modal {
			background-color: themed("background");
			position: fixed;
			border-radius: 8px;
			padding: 20px;
			overflow: hidden;
			animation: slideIn 0.2s ease-out forwards;
			z-index: 1000;
			top: 50%;
			left: 50%;

			transform: translate(-62.5%, -40%);
			//transform: translate(-50%, -40%);
			scale: 0.8;

			-webkit-box-shadow: 0px 0px 7px -3px rgba(107, 107, 107, 1);
			-moz-box-shadow: 0px 0px 7px -3px rgba(107, 107, 107, 1);
			box-shadow: 0px 0px 7px -3px rgba(107, 107, 107, 1);

			.modal-title {
				width: 100%;
				border-bottom: 1px solid themed("hover");

				h1 {
					text-align: center;
					position: relative;
					top: -5px;
				}
			}

			@keyframes slideIn {
				from {
					transform: translate(-62.5%, -40%);
					//	opacity: 0;
					scale: 0.8;
				}
				to {
					transform: translate(-50%, -50%);
					//	opacity: 1;
					scale: 1;
				}
			}

			/* @keyframes slideIn {
				from {
					transform: translate(-50, -40%);
					opacity: 0;
				}
				to {
					transform: translate(-50%, -50%);
					opacity: 1;
				}
			} */

			@media (max-width: 600px) {
				padding: 8px;
				padding-top: 15px;
			}

			.close-button {
				position: absolute;
				top: 2px;
				right: 4px;
				cursor: pointer;
				z-index: 1001;

				@media (max-width: 600px) {
					top: -1px;
					right: -1px;
				}
			}
		}
	}
}
