@import "../../theme/theme.scss";

.auth-page {
	@include themify($themes) {
		display: flex;
		height: 100vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.auth-cont {
			width: 700px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px;
			position: relative;

			.redirect-back {
				position: absolute;
				top: 20px;
				left: 20px;
			}

			@media (max-width: 800px) {
				width: 100%;
			}

			.auth {
				display: flex;
				flex-direction: column;
				gap: 30px;
				width: 100%;
				max-width: 400px;

				.auth-title {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;

					h3 {
						color: $secondary;
						font-size: clamp(23px, 3vw, 28px);
					}

					h1 {
						font-size: clamp(28px, 3vw, 40px);
					}
				}

				form {
					display: flex;
					flex-direction: column;
					gap: 30px;
					width: 100%;
					max-width: 400px;
				}

				.auth-form-container {
					display: flex;
					flex-direction: column;
					gap: 10px;

					.auth-form {
						display: flex;
						flex-direction: column;
						gap: 5px;

						.forgot-pass {
							font-size: 15px;
							color: $secondary;
							cursor: pointer;
							margin-top: 5px;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}

				.or-container {
					position: relative;
					width: 100%;
					height: 1px;
					background-color: themed("hover");

					p {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 30px;
						height: 20px;
						font-size: 11px;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: themed("background");
					}
				}

				.direct-btn {
					padding: 10px;
					background-color: $secondary;
					border: 0;
					cursor: pointer;
					//border-radius: 6px;

					&:disabled {
						background-color: $secondaryDisabled;
						cursor: not-allowed;
					}

					p {
						color: white;
					}
				}

				.google-btn {
					padding: 10px;
					background-color: white;
					border: 1px solid themed("border");
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 15px;

					p {
						font-size: 17px;
					}

					.google-icon {
						font-size: 16px;
					}
				}

				.redirect-container {
					display: flex;
					align-items: center;
					justify-content: center;

					p {
						font-size: 16px;

						span {
							color: $secondary;
							cursor: pointer;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
